body, div, header, section, input, h2 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 100px;
}

.wrapper {
    width: 704px;
    height: 1250px;
    color: #263238;
    background-color: #eee;
}

    .wrapper .logo {
        width: 550px;
        height: 550px;
        margin: auto;
        background-color: #00acc1;
        border: 8px solid #263238;
        border-radius: 50%;
    }

    .wrapper .title {
        text-align: center;
        margin-top: 100px;
    }
