body * {
    margin: 0;
    padding: 0;
}

.center {
    position: relative;
    display: block;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.header-strip {
    height: 200px;
    display: block;
    position:relative;
    width: inherit;
    background-color: #00acc1;
}

.input-form {
    position: relative;
    display: block;
    padding: 30px;
    margin-top: 32px;
    width: 64%;
    font-size: 0.5em;
    border: 2px solid #00acc1;
    text-align:center;
}

.color-white {
    color: white;
}

.header-el {
    position: relative;
    top: -200px;
    z-index:5;
    font-size: 80px;
    font-weight: 300;
    margin-top: 70px;
    margin-bottom: 160px;
}

#register-btn {
    padding: 7px;
    font-size: 0.3em;
    top: -7px;
    width: 34%;
    background-color: #00acc1;
}
