<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!--socual network-->
        <!--<rule name="Web Crawlers Route" stopProcessing="true">
          <match url="^Projects/([0-9]+)/(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="/Projects/([0-9]+)/(.*)" />
            <add input="{HTTP_USER_AGENT}" pattern="(facebookexternalhit/[0-9]|Twitterbot|Pinterest|Google.*snippet)" />
          </conditions>
          <action type="Rewrite" url="/api/crawlers/{R:1}" />
        </rule>-->
        <rule name="AngularJS Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(files)" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
